# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Virtual environments
venv/
.env/

# Test data (large files)
tests/test_stress_*.csv
